/* Controlling card width */
.add-assessment-card,
.created-assessment-cards {
  flex-basis: calc(33.33% - 20px);
  margin: 1rem 10px;
}
/* Define the animation */
@keyframes modalBottomToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.modal-bottom-to-top {
  animation: modalBottomToTop 0.5s ease-out;
}
@keyframes modalBottomToTopClose {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
.modal-close-bottom-to-top {
  animation: modalBottomToTopClose 0.5s ease-in;
  transform: translateY(100%);
}
/* CSS changes required for mobile view for selected content */
@media only screen and (max-width: 768px) {
  .mobile-header {
    display: flex;
    height: 50px;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
  }
  .mobile-header-left {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .mobile-screen-heading {
    color: #1c4980;
    font-size: 16px;
    font-weight: 600;
  }
  .mobile-tab-section {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-bottom: 1px solid #ccc;
  }
  .tab-heading {
    color: #3e6493;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
  .tab-heading.active {
    border-bottom: 2px solid #0073e6;
  }
  .mobile-section {
    overflow-x: hidden;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
  }
  .created-assessment-cards {
    padding: 1rem;
    width: calc(100% - 20px);
    border-radius: 12px;
    border: 1px solid #dadce0;
    background: #fff;
  }
  .modal-content {
    margin-top: 10rem;
    animation: none;
  }
  .btnclose {
    color: red;
  }
  .rectangle-container {
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  .rectangular-individual-ele {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 16px 20px;
    border-radius: 2px;
    border-right: 1px solid #ccc;
  }
  .mobile-header-icon{
    width: 40px;
    height: 40px;
  }
}
